
module my-php 1.0;

require {
	type tty_device_t;
	type httpd_sys_content_t;
	type afs3_callback_port_t;
	type httpd_t;
	class file write;
	class chr_file open;
	class tcp_socket name_bind;
}

#============= httpd_t ==============
allow httpd_t afs3_callback_port_t:tcp_socket name_bind;

#!!!! This avc is allowed in the current policy
allow httpd_t httpd_sys_content_t:file write;

#!!!! This avc is allowed in the current policy
allow httpd_t tty_device_t:chr_file open;
